<!-- Fullscreen container -->
<div class="container">

  <!-- Load config and display angular split section -->
  @if (config) {
  <as-split direction="horizontal" [disabled]="config.disabled" [gutterSize]="config.disabled ? 0 : 10" (dragEnd)="onDragEnd(-1, $event)">

    <!-- Loop over columns from the config -->
    @for (column of config.columns; track column; let icol = $index) {
      <ng-container>

        <!-- Only display columns with 'visible: true' -->
        @if (column.visible) {
          <as-split-area [order]="icol" [size]="column.size">

            <as-split direction="vertical" [disabled]="config.disabled" [gutterSize]="config.disabled ? 0 : 10" (dragEnd)="onDragEnd(icol, $event)">

              <!-- Loop over rows from this column -->
              @for (row of column.rows; track row; let irow = $index) {
              <ng-container>

                <!-- Only display rows with 'visible: true' -->
                @if (row.visible) {
                  <as-split-area [order]="irow" [size]="row.size">

                    <div class="split-area-container">

                      <!-- Display content based on the row type -->
                      @switch (row.type) {

                        <!-- Display the controls -->
                        @case ('controls') {
                          <div class="controls-container">
                            <h1>{{ title }}</h1>
                            <div class="divider"></div>
                            <p>{{ description }}</p>

                            <!-- Display buttons for each row in the angular split -->
                            @for (c of config.columns; track c) {
                              <ng-container>

                                @for (r of c.rows; track r) {
                                  <ng-container>

                                    <!-- Only display buttons for the default case -->
                                    @if (r.type !== 'controls') {

                                      <!-- Button: Toggle visibility -->
                                      <button [class.active]="!r.visible" (click)="r.visible = !r.visible; refreshColumnVisibility()">
                                        {{ r.type }}
                                      </button>
                                    }

                                  </ng-container>
                                }

                              </ng-container>
                            }
                            <br>

                            <!-- Button: Disable resizable splitpane -->
                            <button [class.active]="!config.disabled" (click)="toggleDisabled()">
                              {{ 'isDisabled: ' + config.disabled }}
                            </button>

                            <br>

                            <!-- Button:  -->
                            <button (click)="resetConfig()">
                              Reset localStorage
                            </button>

                          </div>
                        }

                        <!-- Default content -->
                        @default {
                          <div class="big-character-container">
                            <span>{{ row.type }}</span>
                          </div>
                        }

                      }
                    </div>

                  </as-split-area>
                }

              </ng-container>
              }

            </as-split>

          </as-split-area>
        }

      </ng-container>
    }

  </as-split>
  }

</div>
